<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0;url=/mission-brain" />
    <link rel="canonical" href="/mission-brain" />
    <title>Redirecting to Mission Brain</title>
  </head>
  <body>
    <p><a href="/mission-brain">Mission Brain has moved.</a></p>
  </body>
</html>
